thead {
    background: var(--red-scale-3);
}

tbody tr:nth-child(even) {
    background: var(--white-scale-3);
}

tbody tr:hover {
    background: var(--red-scale-2);
}

tbody td:hover {
    background: var(--red-scale-1);
}

table {
    width: 625px;
}